<div class="container mt-4 pt-5 pb-3">
    <div class="card mt-5">
        <div class='card-header'>
            <h2 class='text-center'>
                Eh dimanakah saya ?
            </h2>
        </div>
    </div>
    <div class="card mt-1">
        <div class="card-header">
            <div class="card-title">
                <h5 class='text-center'>Halaman <span class="text-danger">tidak</span> dijumpai.</h5>
                <h3 class="display-1 text-center text-danger">4<span class="text-secondary">0</span>4</h3>
                <h5 class="text-center">Jadi anda sesat ya ? Mari kembali ke pangkal jalan di <a href="/">sini.</a></h5>
            </div>
        </div>
    </div>
</div>
