<!-- your content here -->
<div class="container topspace">
    <div class="page-desc mt-4">
        <h3 class="text-center"><span class="badge badge-danger">VISI, MISI, OBJEKTIF</span></h3>
        <h1 class="text-center">Visi, Misi, dan Objektif Kolej Perindu</h1>
        <p class="text-center">Tujuan, dan pencapaian yang perlu kita capai bersama.</p>
    </div>
</div>
<div class="container pb-3">
    <div class="component">
        <div class="card text-center mt-5">
            <div class="card-header">
                <h1><i class="fas fa-chess-queen" style="color:red"></i>&nbsp;Visi</h1>
            </div>
            <div class="card-body">
                <p class="lead">Melancarkan gerakan yang agresif untuk menakluki dunia melalui New World Order</p>
            </div>
        </div>

        <div class="card text-center mt-5">
            <div class="card-header">
                <h1><i class="fas fa-crown" style="color:gold"></i>&nbsp;Misi</h1>
            </div>
            <div class="card-body">
                <p class="lead">Menjadi sebuah kuasa dunia yang gilang gemilang</p>
            </div>
        </div>

        <div class="card text-center mt-5">
            <div class="card-header">
                <h1><i class="fas fa-bullseye" style="color:purple"></i>&nbsp;Objektif</h1>
            </div>
            <div class="card-body">
                <p class="lead">
                    <li>Membangunkan polisi dan dasar ..</li>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="btn-group dropup stickymenu">
    <button type="button" class="btn btn-secondary dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-align-right"></i>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#topPage">To Top</a>
    </div>
</div>
