 <!--navbar top-->
 <nav class="navbar pt-2 pb-2 navbar-expand-lg navbar-dark crimson fixed-top">
     <div class="container">
         <a class="navbar-brand" href="/"><img src="/static%20pictures/logo%20perindu.png" alt="Kolej Perindu" class="mr-2" height="45">Perindu</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse text-center" id="navbarNavDropdown-1">
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#a" id="kolej" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="kolej1">Kolej
                     </a>
                     <div class="dropdown-menu" id="kolej2" aria-labelledby="kolej">
                         <a class="dropdown-item" href="/pengetua">Pengetua</a>
                         <a class="dropdown-item" href="/pengurus-asrama-kanan">Pengurus Asrama Kanan</a>
                         <a class="dropdown-item" href="/staf-residen-kolej">Staf Residen Kolej</a>
                         <a class="dropdown-item" href="/visi-misi-objektif">Visi, Misi dan Objektif</a>
                         <a class="dropdown-item" href="/carta-organisasi">Carta Organisasi</a>
                     </div>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#a" id="mahasiswa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mahasiswa
                     </a>
                     <div class="dropdown-menu" aria-labelledby="mahasiswa">
                         <a class="dropdown-item" href="/jpk-perindu">JPK Perindu</a>
                         <a class="dropdown-item" href="/majlis-bertindak">Majlis Bertindak</a>
                     </div>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#a" id="akademik" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Akademik
                     </a>
                     <div class="dropdown-menu" aria-labelledby="akademik">
                         <a class="dropdown-item" href="/akan-datang">Fakulti</a>
                         <a class="dropdown-item" href="/akan-datang">Kalendar Akademik</a>
                     </div>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#a" id="alumnidanjaringan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alumni
                     </a>
                     <div class="dropdown-menu" aria-labelledby="alumnidanjaringan">
                         <a class="dropdown-item" href="/akan-datang">Alumni Website</a>
                         <a class="dropdown-item" href="/akan-datang">E-Borang Alumni</a>
                     </div>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#a" id="eborang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">E-Perindu
                     </a>
                     <div class="dropdown-menu" aria-labelledby="eborang">
                         <a class="dropdown-item" href="/akan-datang">E-Usahawan</a>
                         <a class="dropdown-item" href="/e-aduan">E-Aduan</a>

                         <a class="dropdown-item" href="/e-pelajar">E-Pelajar</a>
                         <a class="dropdown-item" href="/takwim">Takwim Aktiviti</a>
                         <a class="dropdown-item btn btn-danger btn-pill" href="/e-aktiviti">E-Aktiviti</a>
                     </div>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/berita">Berita</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" title="Hubungi Kami" href="/hubungi-kami"><i class="fas fa-headset"></i><span class="nav-mobile">&nbsp;&nbsp;Hubungi Kami</span></a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" title="Admin" href="/login"><i class="fas fa-user-lock"></i><span class="nav-mobile">&nbsp;&nbsp;Admin</span></a>
                 </li>
             </ul>
         </div>
     </div>
 </nav>
