<div class="container-fluid">
    <a href="/admin/pak" class="btn btn-secondary mb-2 btn-block text-white"><i class="fas fa-reply"></i>&nbsp;Kembali</a>
    <div class="card">
        <div class="card-header">
            <h3>Staf Residen Kolej Baharu</h3>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nama">Nama</label>
                    <input type="text" id="nama" name="nama" placeholder="Nama" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="penerangan">Pengenalan Diri</label>
                    <input type="text" id="penerangan" name="pengenalan" placeholder="penerangan" class="form-control">
                </div>
                <div class="form-group">
                    <label for="noTelefon">Nombor Telefon</label>
                    <input type="text" id="noTelefon" name="noTelefon" placeholder="noTelefon" class="form-control">
                </div>
                <div class="form-group">
                    <label for="jawatan">Jawatan</label>
                    <input type="text" id="jawatan" name="jawatan" placeholder="jawatan" class="form-control">
                </div>
                <div class="form-group">
                    <label for="instagram">Instagram</label>
                    <input type="text" id="instagram" name="instagram" placeholder="instagram" class="form-control">
                </div>
                <div class="form-group">
                    <label for="gambar">Gambar</label>
                    <input type="file" class="form-control-file" name="gambar" id="gambar">
                </div>
                <div class='form-group'>
                    <label for="harijadi">Tarikh Lahir</label>
                    <input type="date" id="harijadi" name="harijadi" placeholder="harijadi" class="form-control">
                </div>
                <div class="form-group">
                    <label for="kataHikmah">Kata-kata Hikmah</label>
                    <input type="text" id="kataHikmah" name="kataHikmah" placeholder="Kata-kata Hikmah" class="form-control">
                </div>
                <button type='submit' class='btn btn-primary btn-block'>Submit</button>
            </form>
        </div>
    </div>
</div>