<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-pushed"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PERINDU CMS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        General
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/hubungiKami">
            <i class="fas fa-envelope"></i>
            <span>Mesej</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/banner">
            <i class="far fa-image"></i>
            <span>Banner</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/home">
            <i class="fas fa-pager"></i>
            <span>Gambar Halaman</span>
        </a>
    </li>

    <!-- Nav Item - Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/catatan">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Catatan Pengguna</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Tambah dan Kemaskini Rekod
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#staf" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Kolej</span>
        </a>
        <div id="staf" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pengetua</h6>
                <a class="collapse-item" href="/admin/pengetua">Index</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Staf Residen Kolej</h6>
                <a class="collapse-item" href="/admin/srk">Index</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Pengurus Asrama Kanana</h6>
                <a class="collapse-item" href="/admin/pak">Index</a>
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="/admin/cartaOrganisasi">
            <i class="fas fa-fw fa-folder"></i>
            <span>Carta Organisasi</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mahasiswa" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Mahasiswa</span>
        </a>
        <div id="mahasiswa" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Majlis Bertindak</h6>
                <a class="collapse-item" href="/admin/mb">Index</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">JPK</h6>
                <a class="collapse-item" href="/admin/jpk">Index</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#berita" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-newspaper"></i>
            <span>Berita</span>
        </a>
        <div id="berita" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Berita Perindu</h6>
                <a class="collapse-item" href="/admin/berita">Index</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#aktiviti" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-file-alt"></i>
            <span>E-Perindu</span>
        </a>
        <div id="aktiviti" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">E-Aktiviti</h6>
                <a class="collapse-item" href="/admin/aktiviti">Index</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">E-Aduan</h6>
                <a class="collapse-item" href="/admin/aduan">Index</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Rekod Pelajar</h6>
                <a class="collapse-item" href="/admin/pelajar">Index</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Takwim</h6>
                <a class="collapse-item" href="/admin/takwim">Index</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link  bg-gradient-danger" href="/">
            <i class="fas fa-reply"></i>
            <span>Laman Utama Web</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
